.main {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	flex: content;
	align-items: center;
	align-content: center;
}

.menu {
	width: 200px;
	height: 100vh;
	background-color: #F8DC49;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-label {
	font-weight: bold;
	color: #333;
	text-align: center;
	padding-top: 10px;
}

.menu-list a {
	padding: 0px 20px;
	display: block;
	color: #555;
}

.menu-list a:hover {
	background-color: #ddd;
}

.column.is-one-quarter {
	margin-right: 20px;
}

.menu-list a.active {
	background-color: #3273dc;
	color: #fff;
}

.logout-container {
	width: 200px;
	position: absolute;
	bottom: 3%;
	left: 20%;
}

.sidebar {
	padding-left: 30px;
	margin-left: 3px;
	flex: 0 0 auto; 
	width: 220px; 
	height: 100vh; 
	overflow-y: hidden; 
	overflow-x: hidden;
	position: sticky;
	top: 0;
}

.tab-content {
	flex: 1;
	padding: 20px; 
	height: 100vh; 
	overflow-y: auto; 
}

.is-carly {
	background-color: #F8DC49;
}

.list-name {
	margin-left: 10; 
	font-size: 24;
}